.header {
	background-color: #1a75ff;
	display: flex;
	justify-content: space-between;
}

.headerTitle {
	color: white;
	font-size: 3rem;
	padding: 2rem;
	text-decoration: none;
	display: inline-block;
}

.headerIcons {
	display: none;
	gap: 1rem;
	margin-right: 1rem;
}

.headerIcon {
	color: white;
	height: 4.1rem;
}

.headerSidebarButtonContainer {
	display: flex;
	align-items: center;
}

@media (min-width: 600px) {
	.headerIcons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.headerSidebarButtonContainer {
		display: none;
	}
}
