.wishlistTable {
	border-collapse: separate;
	border-spacing: 0 1rem;
}

.wishlistDisabledTableText {
	color: grey;
	text-decoration: line-through;
}

.tableTitleContainer {
	text-align: left;
}

.tableHeader {
	padding-bottom: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tableHeaderButton {
	flex-shrink: 1;
}

.tableHeaderProfileLinkContainer {
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	display: flex;
}

.tableHeaderProfileLink {
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
}

.tableHeaderProfileLink:hover {
	text-decoration: underline;
}

.tableHeaderSortingContainer {
	background-color: initial;
	position: sticky;
	border-radius: 3px;
	top: 0;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
}

.tableHeaderSortButton {
	border-radius: 3px;
	padding: 0;
	background-color: white;
}

.tableHeaderSortButtonActive {
	padding: 0.5rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.tableHeaderSortButtonIcon {
	width: 2rem;
	height: 2rem;
	margin-left: 0.5rem;
}

.tableHeaderSortButtonReversed {
	transform: rotate(180deg);
}

.tableHeaderSortButtonInactive {
	color: grey;
}

.tableRowPropertyContainer {
	text-align: center;
	font-size: 1.4rem;
	padding: 1em;
}

.tableRowTitleContainer {
	font-size: 1.4rem;
	padding: 1em;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tableRowPriceText {
	display: block;
}

.tableRowSalePriceTextSmall {
	font-size: 1.2rem;
}

.tableRow {
	border-radius: 3px;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
}
