.tableHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tableHeaderButton {
	flex-shrink: 1;
}

.tableHeaderProfileLinkContainer {
	flex-grow: 1;
	align-items: center;
	justify-content: center;
	display: flex;
}

.tableHeaderProfileLink {
	text-decoration: none;
	font-size: 2rem;
	font-weight: bold;
}

.tableHeaderProfileLink:hover {
	text-decoration: underline;
}

.tableRowPropertyContainer {
	text-align: center;
}

.titleContainer {
	text-align: left;
}

.sortButton {
	display: flex;
	align-items: center;
}

.sortButtonIcon {
	height: 2rem;
	margin-left: 0.5rem;
}

.sortButtonReversed {
	transform: rotate(180deg);
}

.sortButtonInactive {
	opacity: 0.5;
}
