.primaryButton {
	color: white;
	background-color: #0066cc;
	width: 100%;
	border-radius: 3px;
	font-size: 2rem;
	transition: background-color 0.1s linear;
}

.primaryButton:hover {
	background-color: #3399ff;
}
