select {
	background-color: #1a75ff;
	color: white;
	border: 0;
	border-radius: 3px;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
	padding: 1rem;
	transition: background-color 0.1s linear;
	margin-right: 0.5rem;
}
select:hover,
select:focus {
	cursor: pointer;
	color: white;
}

select::picker-icon {
	color: white;
}

option {
	color: white;
	background-color: #1a75ff;
	cursor: pointer;
	border-radius: 0px;
}
