.tableHeaderSortButtonActive {
	padding: 0.5rem 1rem;
	width: 100%;
	display: flex;
	align-items: center;
}

.tableHeaderSortButtonIcon {
	width: 2rem;
	height: 2rem;
	margin-left: 0.5rem;
}

.tableHeaderSortButtonReversed {
	transform: rotate(180deg);
}

.tableHeaderSortButtonInactive {
	transition: 0.1s;
	color: grey;
}

.tableHeaderSortButtonInactive:hover {
	color: black;
}
