.tableRow {
	height: 4em;
	border-radius: 3px;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
}

.tableRow td {
	padding: 0.5rem 0rem 0.5rem 0rem;
}

.tableRowTitleContainer {
	font-size: 1.4rem;
	display: -webkit-box;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 30rem;
}

.tableRowPropertyContainer {
	text-align: center;
	font-size: 1.4rem;
}

.tableRowPriceText {
	display: block;
}

.tableRowSalePriceTextSmall {
	font-size: 1.2rem;
}

.tableRowDisabledTableText {
	color: grey;
	text-decoration: line-through;
}
