.wishlistFormTitle {
	font-size: 2rem;
	font-weight: bold;
	display: block;
	text-align: center;
}

.wishlistFormTotal {
	text-align: center;
	justify-content: center;
	display: flex;
	margin-bottom: 0.5rem;
}

.wishlistFormInput {
	width: 100%;
	box-sizing: border-box;
	padding: 1rem;
	border-radius: 3px;
	border: 1px solid #c3c3c3;
	background-color: #efefef;
}

.wishlistFormInput:focus {
	outline: 1px solid #1a75ff;
}

.supportedValuesList {
	columns: 2;
	font-size: 1.4rem;
	padding: 0 2rem;
}

.wishlistFormTotalLoader {
	margin-left: 0.3em;
	display: flex;
	align-items: center;
}

.wishlistForm {
	width: 100%;
	max-width: 40rem;
}

@media (min-width: 750px) {
	.wishlistFormTitle {
		font-size: 3rem;
	}

	.wishlistForm {
		width: 100%;
		max-width: 50rem;
	}
}
