.exportData {
	box-sizing: border-box;
	width: 100%;
	min-height: none;
	max-height: calc(100vh - 40rem);
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
	border-radius: 3px;
	border: none;
	padding: 1rem;
	overflow-y: auto;
}

.exportModeDivider {
	height: 2.5rem;
	width: 0.2rem;
	background-color: black;
}

.exportModeDividerCompact {
	height: 0.2rem;
	background-color: black;
	margin: 1rem 0;
}

.exportRow {
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
	padding: 0.5rem 0 0.5rem 0;
	gap: 1rem;
}

.exportRowCompact {
	flex-grow: 1;
}

.exportModesCompact {
	border-radius: 3px;
	display: flex;
	padding: 0.5rem 0 0.5rem 0;
	gap: 1rem;
}

.exportFiltersCompact {
	gap: 1rem;
	padding: 0.5rem 0 0.5rem 0;
	border-radius: 3px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.exportFilterIcon {
	padding: 1rem;
	height: 2rem;
}
